tr {
    cursor: pointer;
}

thead th:hover {
    background-color: lightgray;
}

tbody tr:hover {
    background-color: lightgray;
}

.asc:after {
    content: ' (asc)' ;
}

.desc:after {
    content: ' (desc)' ;
}

.pagination {
    list-style: none;
}

.pagination li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.pagination li:hover {
    background-color: lightgray;
}

.active {
    color: blue;
}